{% extends 'base/base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://eiya.mx">Test Eiya!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
        </div>
      </div>
    </div>
  </nav>
  
<h1><center>{{title}}</center></h1>

<div class='container col-md-auto'>
<div class="accordion" id="accordionPanels">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          Crear vehículo
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanels">
        <div class="accordion-body">
            {% from "_macro.html" import render_field %}
            <form id="create-form" method="POST">
                <input type="hidden" name="_method" value="post" />
                {{render_field(create.id)}}
                {{render_field(create.ubicacion)}}
                {{render_field(create.consumo)}}
                {{render_field(create.distancia)}}
                {{render_field(create.combustible)}}
                <br>
                <button type="submit" class="btn btn-primary">Crear vehículo</button>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Editar vehículo
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanels">
        <div class="accordion-body">
            {% from "_macro.html" import render_field %}
            <form id="edit-form" method="POST">
                <input type="hidden" name="_method" value="put" />
                {{render_field(edit.id)}}
                {{render_field(edit.ubicacion)}}
                {{render_field(edit.consumo)}}
                {{render_field(edit.distancia)}}
                {{render_field(edit.combustible)}}
                <br>
                <button type="submit" class="btn btn-warning">Editar vehículo</button>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Eliminar vehículo
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanels">
        <div class="accordion-body">
            {% from "_macro.html" import render_field %}
            <form id="delete-form" method="POST">
                <input type="hidden" name="_method" value="delete" />
                {{render_field(delete.id)}}
                <br>
                <button type="submit" class="btn btn-danger">Eliminar vehículo</button>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            Generar viaje
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanels">
          <div class="accordion-body">
            {% from "_macro.html" import render_field %}
            <form id="trip-form" method="POST">
                <input type="hidden" name="_method" value="create" />
                {{render_field(trip.id)}}
                {{render_field(trip.origen)}}
                {{render_field(trip.destino)}}
                <br>
                <button type="submit" class="btn btn-success">Generar viaje</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock%}